@charset "utf-8";
html {
    font-family: Microsoft YaHei, serif;
    font-size: 62.5%;
}

* {
    padding:0;
    margin:0;
}

img {
    max-width: 100%;
}

.container {
    overflow:hidden;
    width:100%;
    max-width:640px;
    margin:0 auto:
    /*padding-bottom:6em; 强行布满页面？*/
    background-color:#68cdd5;
}

.icon-back {
    width:10%;
    max-width:55px;
    padding-top:2%;
    padding-left:2%;
}

.icon-logo {
    max-width:185px;
    margin:0 auto;
    padding-top:10%;
}

.comtent {
    width:72%;
    margin:0 auto;
    padding-top:15%;
    padding-bottom:20%;
    font-size:3rem;
    line-height:5.4rem;
    color:#fff;
}

.footer {
    overflow:hidden;
    padding-bottom:10rem;
}

.icon-footer {
    float:left;
    width:50%;
    text-align:center;
}

.footer p {
    font-size:2.4rem;
    line-height:5.4rem;
    text-align:center;
    color:#fff;
}

@media screen and(max-width:480px) {
    html {
        font-size:52.5%;
    }
}