

body { background-color: #68cdd5; }

.banner {
    background: rgb(51,20,9);
    position: relative;
    height: 50px;
    -webkit-background-size: 1999px 251px;
}

.mbox {
    width: 1006px;
    margin: 0 auto;
    position: relative;
}


.mboxp{
    padding-top:-10px;
}

.banner ul{
    padding:3px 0 5px 30px;
    height:30px
}

.banner ul li{
    height:50px;
    line-height:10px;
    width:76px;;
    float:left;
    margin:0 117px;
    display: block;
}

.back{
    float: left;
    margin-top: 50px;
    margin-left:10px;
    position:absolute;
}

.wenben p {
    width: 70%;
    color: #f8f6f5;
    font-size: 3em;
    font-family: "Hiragino Sans GB W3", sans-serif;
    margin:0 auto;
    position: absolute;
    top:40%;left:8%;bottom:0;right:0;
}

.logo{
    margin-top:6%;
    margin-left:40%;
}

.beijingptt{
    margin:0 auto;
    position: absolute;
    top:80%;left:20%;bottom:0;right:0;
}

.num{
    margin:0 auto;
    position: absolute;
    top:80%;left:65%;bottom:0;right:0;
}